.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.list-group-item {
    padding: 10px 15px; /*  padding */
    font-size: 0.95rem; 
}
.list-group-item a {
    font-weight: bold; 
    text-decoration: none; 
}
.list-group-item a:hover {
    text-decoration: underline; /* underline on hover */
}