<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto d-flex justify-content-center"> <!-- Flexbox-->
        
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black ml-lg-4 mr-lg-4" href="#" id="drum-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drums
            </a>
            <div class="dropdown-menu" aria-labelledby="drum-link">
                <a href="{% url 'all_products' %}?category=drum_kits" class="dropdown-item">Drum Kits</a>
                <a href="{% url 'all_products' %}?category=drums" class="dropdown-item">Drums</a>
                <a href="{% url 'all_products' %}?category=drum_kits,drums" class="dropdown-item">All drums</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black ml-lg-4 mr-lg-4" href="#" id="cymbal-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cymbals
            </a>
            <div class="dropdown-menu" aria-labelledby="cymbal-link">
                <a href="{% url 'all_products' %}?category=hi_hats" class="dropdown-item">Hi-Hats</a>
                <a href="{% url 'all_products' %}?category=crash_cymbal" class="dropdown-item">Crash Cymbals</a>
                <a href="{% url 'all_products' %}?category=ride_cymbal" class="dropdown-item">Ride Cymbals</a>
                <a href="{% url 'all_products' %}?category=hi_hats,crash_cymbal,ride_cymbal" class="dropdown-item">All Cymbals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black ml-lg-4 mr-lg-4" href="#" id="accessories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="specials-link">
                <a href="{% url 'all_products' %}?category=stand" class="dropdown-item">Drum Stands</a>
                <a href="{% url 'all_products' %}?category=sticks" class="dropdown-item">Drum Sticks</a>
                <a href="{% url 'all_products' %}?category=stand,sticks" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black ml-lg-4 mr-lg-4" href="#" id="brand-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_products' %}?brand=DW Drums" class="dropdown-item">DW Drums</a>
                <a href="{% url 'all_products' %}?brand=Tama" class="dropdown-item">Tama</a>
                <a href="{% url 'all_products' %}?brand=Ludwig" class="dropdown-item">Ludwig</a>
                <a href="{% url 'all_products' %}?brand=Mapex" class="dropdown-item">Mapex</a>
                <a href="{% url 'all_products' %}?brand=Paiste" class="dropdown-item">Paiste</a>
                <a href="{% url 'all_products' %}?brand=Pearl" class="dropdown-item">Pearl</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font nav-link text-black ml-lg-4 mr-lg-4" href="{% url 'about' %}">About Us</a>
        </li>

        <li class="nav-item">
            <a class="logo-font nav-link text-black ml-lg-4 mr-lg-4" href="{% url 'faq_list' %}">FAQ</a>
        </li>

    </ul>
</div>
