{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		{% block meta %}
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% endblock %}

		{% block extra_meta %}
		{% endblock %}
		<!-- Favicon Links -->
		<link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_URL }}favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_URL }}favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_URL }}apple-touch-icon.png">		

		{% block corecss %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap">
			<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% endblock %}

		{% block extra_css %}
		{% endblock %}

		<!-- Scripts -->
		{% block corejs %}
			<script src="https://kit.fontawesome.com/e371815a5a.js" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<!-- Stripe -->
			<script src="https://js.stripe.com/v3/"></script>
		{% endblock %}

		{% block extra_js %}
		{% endblock %}

		<title>Vintage Drums {% block extra_title %}{% endblock %}</title>
		<meta name="description"
			content="Curated premium vintage drums, cymbals, and drum kits.
			Shop authentic vintage percussion instruments with expert installation.">
		<meta name="keywords"
			content="vintage drum kits, classic cymbals, rare drum sets,
			drum installation service, retro percussion, old school drums,
			analogue drum kits">
	</head>
	<body>
		<header class="container-fluid fixed-top bg-white border-bottom">
			<div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
				<!-- Logo -->
				<div class="col-12 col-lg-4 my-auto py-2 py-lg-0 text-center text-lg-left">
					<a href="{% url 'home' %}" class="text-decoration-none">
						<h1 class="font-weight-bold text-dark m-0">VintageDrums</h1>
					</a>
				</div>

				<!-- Search Bar -->
				<div class="col-12 col-lg-4 py-2 d-flex align-items-center justify-content-center">
					<form method="GET" action="{% url 'all_products' %}" class="w-100">
						<div class="input-group">
							<input type="text" name="q" class="form-control border" placeholder="Search our site">
							<div class="input-group-append">
								<button class="btn btn-outline-dark" type="submit">
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>

				<!-- Account and Cart -->
				<div class="col-12 col-lg-4 text-center text-lg-right py-2">
					<ul class="list-inline mb-0">
						<!-- Account Dropdown -->
						<li class="list-inline-item dropdown">
							<a class="text-black nav-link" href="#" id="user-options-desktop" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<div class="text-center">
									<div><i class="fas fa-user"></i></div>
									<p class="my-0">My Account</p>
								</div>
							</a>
							<div class="dropdown-menu border-0" aria-labelledby="user-options-desktop">
								{% if request.user.is_authenticated %}
									{% if request.user.is_superuser %}
										<a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
									{% endif %}
									<a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
									<a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
								{% else %}
									<a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
									<a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
								{% endif %}
							</div>
						</li>

						<!-- Shopping Bag -->
						<li class="list-inline-item">
							<a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link" href="{% url 'view_bag' %}">
								<div class="text-center">
									<div><i class="fa-solid fa-cart-flatbed-suitcase"></i></div>
									<p class="my-0">
										{% if grand_total %}
											€{{ grand_total|floatformat:2 }}
										{% else %}
											€0.00
										{% endif %}
									</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light w-100 p-0">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{% include 'includes/mobile-top-header.html' %}
				{% include 'includes/main-nav.html' %}
			</nav>

		</header>
		<main class="flex-grow-1">
			{% if messages %}
				<div class="message-container">
					{% for message in messages %}
						{% with message.level as level %}
							{% if level == 40 %}
								{% include 'includes/toasts/toast_error.html' %}
							{% elif level == 30 %}
								{% include 'includes/toasts/toast_warning.html' %}
							{% elif level == 25 %}
								{% include 'includes/toasts/toast_success.html' %}
							{% else %}
								{% include 'includes/toasts/toast_info.html' %}
							{% endif %}
						{% endwith %}
					{% endfor %}
				</div>
			{% endif %}

			{% block page_header %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block postloadjs %}
				<script>
					$('.toast').toast('show');
				</script>
			{% endblock %}
		</main>
		<!-- Footer -->
		<footer class="bg-dark text-white py-4">
			<div class="container">
				<!-- 4 Sections in the Footer -->
				<div class="row">
					<!-- Logo Section (3 Columns) -->
					<div class="col-12 col-md-3 d-flex align-items-center text-center">
						<a href="{% url 'home' %}" class="text-decoration-none">
							<h1 class="footer-logo text-white mb-2">VintageDrums</h1>
						</a>
					</div>

					<!-- Information Section (3 Columns) -->
					<div class="col-12 col-md-3">
						<h5 class="text-decoration-underline"><strong>Information</strong></h5>
						<ul class="list-unstyled">
							<li class="d-flex align-items-center">
								<i class="fas fa-map-marker-alt small mr-2"></i>
								<p class="nav-link-footer text-white links-hover mb-0">123 Drum Street, Vintage City, VC 12345</p>
							</li>
							<li class="d-flex align-items-center">
								<i class="fas fa-envelope small mr-2"></i>
								<a href="mailto:contact@vintagedrums.com" class="nav-link-footer text-break text-white links-hover mb-0">contact@vintagedrums.com</a>
							</li>
							<li class="d-flex align-items-center">
								<i class="fas fa-phone small mr-2"></i>
								<a href="tel:+1234567890" class="nav-link-footer text-white links-hover mb-0">+1 (234) 567-890</a>
							</li>
							<li><a href="{% url 'about' %}" class="nav-link-footer text-white links-hover">About Us Page</a></li>
							<li><a href="{% url 'faq_list' %}" class="nav-link-footer text-white links-hover">FAQ Page</a></li>
							<li><a href="{% url 'privacy_policy' %}" class="nav-link-footer text-white links-hover">Privacy Policy</a></li>
						</ul>
					</div>

					<!-- Follow Us Section (3 Columns) -->
					<div class="col-12 col-md-3 text-center">
						<h5 class="text-decoration-underline"><strong>Follow Us</strong></h5>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/people/Vintage-Drums/61571638551755/" target="_blank" class="text-white links-hover" rel="noopener noreferrer">
									<i class="fab fa-facebook fa-lg"></i>
								</a>
							</li>
							<li class="list-inline-item"><a href="https://twitter.com" target="_blank" class="text-white links-hover" rel="noopener noreferrer"><i class="fab fa-twitter fa-lg"></i></a></li>
							<li class="list-inline-item"><a href="https://instagram.com" target="_blank" class="text-white links-hover" rel="noopener noreferrer"><i class="fab fa-instagram fa-lg"></i></a></li>
							<li class="list-inline-item"><a href="https://linkedin.com" target="_blank" class="text-white links-hover" rel="noopener noreferrer"><i class="fab fa-linkedin fa-lg"></i></a></li>
						</ul>
					</div>

					<!-- Subscribe Section (3 Columns) -->
					<div class="col-12 col-md-3 text-center text-md-end">
						<h5 class="text-decoration-underline"><strong>Subscribe to our newsletter for the latest stock</strong></h5>
						<div id="mc_embed_shell" class="transparent-shell">
							<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
							<div id="mc_embed_signup" class="text-dark">
								<form action="https://herokuapp.us9.list-manage.com/subscribe/post?u=ebeab390ee4cc8d6afa53d1df&amp;id=985665cd3d&amp;f_id=003bd4e3f0" 
									method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
									class="validate" target="_blank">
									<div id="mc_embed_signup_scroll">
										<div class="mc-field-group">
											<label for="mce-EMAIL" class="text-white">Email Address <span class="asterisk">*</span></label>
											<input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
										</div>
										<div id="mce-responses" class="clear foot pl-0 ml-0 mb-2">
											<div class="response pb-1" id="mce-error-response" style="display: none;"></div>
											<div class="response pb-1" id="mce-success-response" style="display: none; color: #e9bf56;"></div>
										</div>
										<div aria-hidden="true" style="position: absolute; left: -5000px;">
											<input type="text" name="b_ebeab390ee4cc8d6afa53d1df_985665cd3d" tabindex="-1" value="">
										</div>
										<div class="clear foot">
											<input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- Copyright Section -->
				<div class="row mt-3">
					<div class="col text-center">
						<p class="mb-0 small">&copy; <span id="current-year">2024</span> Vintage Drums. All rights reserved.</p>
					</div>
				</div>
			</div>

			<script>
				// Dynamically set the current year
				document.getElementById('current-year').textContent = new Date().getFullYear();
			</script>
					<!-- Mailchimp validation script -->
		<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
		<script>
			(function($) {
				window.fnames = new Array();
				window.ftypes = new Array();
				fnames[0] = 'EMAIL';
				ftypes[0] = 'email';
				fnames[1] = 'FNAME';
				ftypes[1] = 'text';
				fnames[2] = 'LNAME';
				ftypes[2] = 'text';
				fnames[3] = 'ADDRESS';
				ftypes[3] = 'address';
				fnames[4] = 'PHONE';
				ftypes[4] = 'phone';
				fnames[5] = 'BIRTHDAY';
				ftypes[5] = 'birthday';
				fnames[6] = 'COMPANY';
				ftypes[6] = 'text';
			}(jQuery));
			var $mcj = jQuery.noConflict(true);
		</script>

		</footer>




	</body>
</html>
