{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <div class="row justify-content-center">
            <div class="position-relative error-image-container">
                <div class="error-text-wrapper">
                    <h1 class="logo-font error-heading">
                        Oops! You're Out of Rhythm.
                    </h1>
                    <h1 class="logo-font error-heading">
                        Page not found.
                    </h1>
                </div>
                <div class="error-image mx-auto mb-3"></div>
            </div>
        </div>
        <p class="lead mt-3 text-muted">
            Looks like the beat you're searching for isn't here.  
            The drum you’re looking for may have been sold.
        </p>
        <div class="mt-4">
            <a href="{% url 'all_products' %}" 
               class="btn btn-primary text-uppercase">
                Browse Our Collection
            </a>
        </div>
    </div>
{% endblock %}