{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <!--  Heading -->
        <div class="row">
            <div class="col text-center mt-3">
                <h3 class="logo-font"><a class="text-brand text-dark" href="{% url 'all_products' %}">Explore Our Collection</a></h3>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'all_products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>

        <!-- Sorting Options -->
        <div class="row">
            <div class="col-12 col-md-6 order-md-last">
                <form method="get" class="text-muted mt-3 text-center text-md-right">
                    <!-- Preserve existing filters -->
                    {% for key, value in request.GET.items %}
                    <!-- .items returns key-value pairs of the GET query parameters. -->
                        {% if key != 'sort' %}
                        <!-- skipping sort and generates hidden inputs for the other query parameters 
                         hiding the parameters keeps the current parameters like category or q.
                         adding sort='current value' -->
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                    
                    <label for="sort" class="mr-2">Sort by:</label>
                    <select name="sort" id="sort" class="custom-select d-inline-block w-auto" onchange="this.form.submit()">
                        <!-- onchange="" automatically submits the form -->
                        <option value="">Default</option>
                        <option value="price" {% if current_sort == 'price' %}selected{% endif %}>Price: Low to High</option>
                        <option value="-price" {% if current_sort == '-price' %}selected{% endif %}>Price: High to Low</option>
                        <option value="rating" {% if current_sort == 'rating' %}selected{% endif %}>Rating: Low to High</option>
                        <option value="-rating" {% if current_sort == '-rating' %}selected{% endif %}>Rating: High to Low</option>
                    </select>
                </form>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'all_products' %}" class="btn btn-light">All Stock</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>

        <!-- Product Cards -->
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-12 col-sm-6 col-lg-4 mb-4">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'all_products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Pagination -->
                {% if is_paginated %}
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <nav aria-label="Product pagination">
                            <ul class="pagination justify-content-center">
                                <!-- Previous page link -->
                                {% if page_obj.has_previous %}
                                <!-- display button if there is a previous page -->
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}
                                    {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}
                                    {% if request.GET.category %}&category={{ request.GET.category }}
                                    {% endif %}">
                                    <!-- if previous page retrieve it, if request is sort or category are in url query 
                                     append &<key eg sort>=value to preserve the current filter -->
                                        Previous
                                    </a>
                                </li>
                                {% endif %}

                                <!-- Page number links -->
                                {% for num in page_obj.paginator.page_range %}
                                    {% if num == page_obj.number %}
                                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                    {% else %}
                                    <li class="page-item">
                                        <!-- similar to has previous, but adding a number eg page=2&sort=price&category=drum_kit -->
                                        <a class="page-link" href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}
                                        {% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
                                            {{ num }}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}

                                <!-- Next page link -->
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <!-- DTL href is needed due to sorting and category -->
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}
                                    {% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
                                        Next
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
