{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            {% else %}
            <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="lead">${{ product.price }}</p>
            {% if product.rating %}
            <p><i class="fas fa-star"></i> {{ product.rating }} / 5</p>
            {% else %}
            <p>No rating available</p>
            {% endif %}
            <hr>
            <p>{{ product.description }}</p>

            {% if product.sound_recording %}
            <audio controls>
                <source src="{{ product.sound_recording.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% endif %}
            
            <h3>Drum Kit Sizes</h3>
            {% if drum_kit_details %}
                <ul>
                    {% if drum_kit_details.bass_drum_size %}
                    <li>Bass Drum: {{ drum_kit_details.bass_drum_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.snare_drum_size %}
                    <li>Snare Drum: {{ drum_kit_details.snare_drum_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.rack_tom_1_size %}
                    <li>Rack Tom 1: {{ drum_kit_details.rack_tom_1_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.rack_tom_2_size %}
                    <li>Rack Tom 2: {{ drum_kit_details.rack_tom_2_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.rack_tom_3_size %}
                    <li>Rack Tom 3: {{ drum_kit_details.rack_tom_3_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.floor_tom_1_size %}
                    <li>Floor Tom 1: {{ drum_kit_details.floor_tom_1_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.floor_tom_2_size %}
                    <li>Floor Tom 2: {{ drum_kit_details.floor_tom_2_size }}"</li>
                    {% endif %}
                    {% if drum_kit_details.colour %}
                    <li>Colour: {{ drum_kit_details.colour }}</li>
                    {% endif %}
                </ul>
            {% else %}
            <p>No drum kit details available.</p>
            {% endif %}

            <a href="#" class="btn btn-primary mt-3">Add to Cart</a>
        </div>
    </div>
</div>
{% endblock %}
